<footer>
    <div class="footer-wrap">
        <div class="container">
            <p>This App is powered by the <a href="https://darksky.net/forecast/40.7127,-74.0059/us12/en" target="_blank">darsky.net</a> and <a href="https://www.mapbox.com/" target="_blank">mapbox.com</a> API's</p><p><a class="signature" href="https://sergioca.com" target="_blank">Sergi Oca</a></p>
        </div>
    </div>
</footer>