<div class="header-wrap">
    <div class="container">
        <nav>
            <ul class="header-nav">
                <li><a href="/">Homepage</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </nav>
    </div>
</div>

 